<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369960178948-84rcimv6lmlli2kejvd02co6kqk7brag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369960178948-84rcimv6lmlli2kejvd02co6kqk7brag</string>
	<key>API_KEY</key>
	<string>AIzaSyCagLYCMBMTmx1GqVpeeASluamXzB59lJg</string>
	<key>GCM_SENDER_ID</key>
	<string>369960178948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lumiNews</string>
	<key>PROJECT_ID</key>
	<string>lumi-news-data</string>
	<key>STORAGE_BUCKET</key>
	<string>lumi-news-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369960178948:ios:41aea68a98b53e84d9ec51</string>
</dict>
</plist>